* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding-bottom: 48px;
}

h1,
h2,
h3 {
    font-size: 36px;
    font-weight: 700;
}

/* Start - styling scrollbars */
::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #E1624F;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: #e77664;
}

/* End - styling scrollbars */

/* Start - styling slection page */
::selection {
    color: #FFFFFF;
    background: #E1624F;
}

/* End - styling slection page */